/.gitattributes export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/.changelog export-ignore
/tests/ export-ignore
/README.md export-ignore
/CHANGELOG.md export-ignore
/LICENSE.md export-ignore
/CONTRIBUTING.md export-ignore
/Makefile export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml export-ignore
