name: Run tests

on:
  push:
    branches:
      - master
      - '*.x'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: [8.1, 8.2, 8.3, 8.4]
        symfony: [6.*, 7.*]
        exclude:
          - php: 8.1
            symfony: 7.*
        include:
          - php: 8.4
            symfony: 8.*

    steps:
      - uses: actions/checkout@v1

      - name: Set PHP version
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Install composer dependencies
        run: |
          composer require symfony/http-foundation:${{ matrix.symfony }} --no-update
          composer install --quiet --no-ansi --no-interaction --no-scripts --no-suggest --no-progress --prefer-dist

      - name: Run tests
        run: composer test
